Checks: '-*,bugprone-*,-bugprone-suspicious-include,clang-analyzer-*,cppcoreguidelines-*,-cppcoreguidelines-special-member-functions,modernize-*,readability-*'
CheckOptions:
  - key: cppcoreguidelines-macro-usage.CheckCapsOnly
    value: true
